
div#slider { overflow: hidden; } /* las imágenes no van a salir del márgen de la pantalla*/
div#slider figure img { width: 20%; float: left; }

div#slider figure { 
  position: relative;
  width: 450%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}

img{
    width: 200px;
    display: inline-block;
}
/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


body{
    background-color: honeydew;
}
*{
   margin: 0;
   padding: 0;
   font-family:'Roboto', sans-serif;       
}
.cabecera{
    display:block;
    text-align:center;
    font-family:Algerian;    
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Binary_system_coalescence.gif/300px-Binary_system_coalescence.gif);
    color: greenyellow;
    width: 100%;
    height: 100px;
    position: fixed;
}
h1.N::first-letter{
    
    font-size: 45px;
}
#ima{
    width: 100% ;
}
#linea{
    background-color: white;
    width: 100%;
    height: 4px;
    position: fixed;
    margin-top: 100px;
    
}
#link{
    position: sticky;
    text-decoration: none;
    position: fixed;
    margin-top: 105px;
    background-color: black;
    width: 100%;
    height: 30px;
    
}
#link>a{
    color: white;
    text-decoration: none;
    padding: 30px 20px;
}
#link >  a:hover{
    background-color: rgb(17, 216, 83);
 }
#vista{
    display: block;
    margin-left: 50px;
    width: 50%;
}

#direccion>h2{
    font-family:'Roboto', sans-serif;       
    text-align: center;
    background-image: url(https://i.makeagif.com/media/5-01-2017/PycmF1.gif);
 color: white;   
}
#direccion>h3{
    background-color: rgb(247, 240, 240);
    width: 50%;
    margin-left: 30%;
    margin-top: 2%;
}
#irbrizant{
    margin-top: 1%;
    display: block;
    color:green;
    text-decoration: none;
    margin-left: 50%;
}

#li{
    display: block;
    width: 100%;
    height: 2px;
    
}

#imagen{
    height: 600px;
    display: block;
    border-radius: 20%;
    margin-right:auto ;
    margin-top: 35px;
    width: 20%;
    margin-left: 15%;
}
#tarjetas{
    width: 510px;
    background-color: rgb(53, 133, 199);
    margin: 12px;
    float: left;
    height: 300px;
    color: rgb(248, 246, 246);
    margin-top: -15%;
    margin-left:40%;
    font-size: 20px;
}
#s{
    color:white;
    background-color: rgb(49, 35, 35);
}
#servicios{

    width: 500px;
    background-color:  rgb(53, 133, 199);
    margin: 12px;
    text-align: center;
    float: left;
    height: 300px;
    color: white;
    margin-top: -50%;
    margin-left: 40%;
    font-size: 20px;
}

#lin{

    background-color: rgb(97, 88, 88);
    width: 100%;
        height: 2px;
        margin-top: 105px;
    }

#re{
    margin-top: 8%;
    font-size: 40px;
    font-family:'Roboto', sans-serif;    
    text-align: center;
}

#reservaciones{
    border: none;
    display:inline-block;
    width: 60%;
    margin-top: 8%;
    margin-left: 25%;
    border-radius: 30px;
    background-color: rgb(42, 72, 128);
    border-width: 1px;
    border-style: solid;
}
#fi{
    border-radius: 30px;
    border: black;
}
#icono
{
    display: block;
    height:150px;
    margin: auto;

}
#texto{
    font-size: 20px;
    width: 30%;
    margin: 9px;
    margin-left: 35%;
    font-family:'Roboto', sans-serif;    
}
#sexo
{
    font-family:'Roboto', sans-serif;    
    text-align: center;
    font-size: 40px;
    margin-left:44%;
}
#radio{
 text-align: center;
 margin-left: 42%;
}

#dia{
    text-align: center;
    margin-left: 40%;
    font-size: 20px;
    font-family:'Roboto', sans-serif;       
}

#guardar{
    display: inline-block;
    width: 40%;
    height: 40px;
    margin-left: 30%;
    border-radius: 90px;
    border:none;
    background-color: green;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}
#guardar:hover{
    background-color: rgb(14, 235, 14);
}

#c{
    margin-left: 50%;
    margin-top: 5%;
    font-size: 35px;

}
#contacto{
    width: 60%;
    border-collapse: collapse;
    margin-left: 25%;
    margin-top: 7px;
}

#th{
    background-color: rgb(38, 38, 94);
    color: white;
}
#tr{
    text-align: center;
}

#footer{
    margin-top: 10%;
    background-color: black;
    color: white;
}

#derechos{
    margin-left: 45%;
}
#au{
    margin-left: 50%;
}

#h4{
    margin-left: 47%;
}


#main-gal{
    width: 80%;
    background-color: rgb(42, 72, 128);
    height: auto;
    border-style: solid 1px rgb(42, 72, 128);
    border: solid 1px blue;
}

#imag{
    width: 20%;
    margin-left: 11px;
    height: 200px;
    
}

#imagen2{
    background-color: cornflowerblue;
    width: 300px;
    height: 500px;
    border-radius: 1px;
    text-align: center;
    font-size: 22px;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
}

#imagen3{
    background-color: cornflowerblue;
    width: 600px;
    height: 510px;
    border-radius: 1px;
    text-align: center;
    font-size: 22px;
    float: left;
    border-style: solid;
    border-width: 2px;
}

#main-gal{
    background-color: cornflowerblue;
    display: inline-block;
    width: 100%;
    height: auto;
}
#imag{
    /*background-color: cornflowerblue;*/
    width: 30%;
    height: 320px;
    border-radius: 1px;
    text-align: center;
    font-size: 22px;
    float: left;
    border-style: solid;
    border-width: 2px;
     margin: 20px;
}

.contenedorh1
{
    width: 100%;
    height: 60px;
    background-color: white;
}
div.contenedorh1 > h1
{
    padding: 10px;
    text-align: center;
}
