*{
   margin: 0;
   padding: 0;
}
.cabecera{
    display:block;
    text-align:center;
    font-family:'Roboto', sans-serif;    
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Binary_system_coalescence.gif/300px-Binary_system_coalescence.gif);
    color: white;
    width: 100%;
    height: 100px;
    position: fixed;
}
#ima{
    width: 100% ;
}
#linea{
    background-color: white;
    width: 100%;
    height: 4px;
    position: fixed;
    margin-top: 100px;
    
}
#link{
    position: sticky;
    text-decoration: none;
    position: fixed;
    margin-top: 105px;
    background-color: black;
    width: 100%;
    height: 30px;
    
}
#link>a{
    color: white;
    text-decoration: none;
    padding: 30px 20px;
}
#vista{
    display: block;
    margin-left: 50px;
    width: 50%;
}

#direccion>h2{
    font-family:'Roboto', sans-serif;       
    text-align: center;
    background-image: url(https://i.makeagif.com/media/5-01-2017/PycmF1.gif);
 color: white;   
}
#direccion>h3{
    background-color: rgb(247, 240, 240);
    width: 50%;
    margin-left: 30%;
    margin-top: 2%;
}
#irbrizant{
    margin-top: 1%;
    display: block;
    color:green;
    text-decoration: none;
    margin-left: 50%;
}
#servicios
{
    
    display: block;
    margin-left: 24%;
    margin-top: -26%;
    background-color: rgb(22, 22, 78);
    width: 40%;
    color: white;
}

#servicios>table
{
    height: 330px;
    width: 100%;
    text-align: justify;
    font-size: 23px;
    
    
}
#li{
    display: block;
    width: 100%;
    height: 2px;
    
}

#imagen{
    height: 400px;
    display: block;
    border-radius: 20%;
    margin-left: 4%;
    margin-top: 7%;
}

#lin{

background-color: rgb(97, 88, 88);
width: 100%;
    height: 2px;
    margin-top: 30px;
}
#re{
    margin-top: 5%;
    font-size: 40px;
    font-family:'Roboto', sans-serif;    
    text-align: center;
}
#reservaciones{
    border: none;
    display:inline-block;
    width: 60%;
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 30px;
    background-color: cornflowerblue;
    border-width: 1px;
    border-style: solid;
}
#fi{
    border-radius: 30px;
    border: black;
}
#icono
{
    display: block;
    height:150px;
    margin: auto;

}
#texto{
    font-size: 20px;
    width: 30%;
    margin: 9px;
    margin-left: 35%;
    font-family:'Roboto', sans-serif;    
}
#sexo
{
    font-family:'Roboto', sans-serif;    
    text-align: center;
    font-size: 40px;
    margin-left:44%;
}
#radio{
 text-align: center;
 margin-left: 42%;
}

#dia{
    text-align: center;
    margin-left: 40%;
    font-size: 20px;
    font-family:'Roboto', sans-serif;       
}

#guardar{
    display: inline-block;
    width: 40%;
    height: 40px;
    margin-left: 30%;
    border-radius: 90px;
    border:none;
    background-color: green;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}
#guardar:hover{
    background-color: rgb(14, 235, 14);
}


#c{
    margin-left: 50%;
    margin-top: 5%;
    font-size: 35px;

}
#contacto{
    width: 60%;
    border-collapse: collapse;
    margin-left: 25%;
    margin-top: 7px;
}

#th{
    background-color: rgb(38, 38, 94);
    color: white;
}
#tr{
    text-align: center;
}

#footer{
    margin-top: 10%;
    background-color: blue;
    color: white;
}

#derechos{
    margin-left: 45%;
}

#au{
    margin-left: 50%;
}

#h4{
    margin-left: 47%;
}